# Only the two SVGs, the README and the licence belong here. Everything else in
# this directory is scaffolding for building them: local preview pages at the
# widths GitHub renders at, screenshots from each engine, and the intermediate
# font outlines. Named by extension rather than by prefix, because the prefix
# list was wrong twice and let the scaffolding into a public repository twice.
*.png
*.html
*.json
*.mjs
*.txt
!LICENSE
